# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Production
build/
client/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

